/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right bottom, #5378b0, #4470b4, #3468b8, #2260bb, #0957be);
  display: flex;
  align-items: center;
  justify-content: center;
  color: lightblue;
}
.container{
  margin-top: 60px;
  width: 60%;
  background: #fff;
  border-radius: 10px;
  padding: 20px 60px 30px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  height: 530px;
  background-color: rgb(100, 12, 96);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid white;
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color:white;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: white;
}
.footer{
    align-items: center;
    margin-top: -200px;
    /* position:absolute; */
    bottom:200px;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: -40px;
    margin-left: auto;
    width:52.5%;
    height:30%;   
    /* background:#fff; */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: #dedede; */
}
ul{
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* margin: 0; */
  padding: 0;
  display: flex;
}
ul li{
  list-style: none;
}
ul li a{
  /* position: relative; */
  width: 0px;
  height: 0px;
  display: block;
  text-align: center;
  /* margin: 20px 20px; */
  top:30px;
  margin-left: 25px;
  border-radius: 50%;
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
  /* box-shadow: 0 10px 15px rgba(0,0,0,0.3); */
  /* background: linear-gradient(0deg,#ddd,#fff); */
  transition: .5s;
}
ul li a:hover{
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration: none;
}
ul li a .fab{
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(0deg,#ddd,#fff);
  border-radius: 50%;
  font-size: 48px;
  color: #262626;
  transition: .5s;
}
@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}

@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}