@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(4, 93, 112);
  border-radius: 10px;
}
.aboutiete
{
  display: flex;
  justify-content: center;
  text-align: center;
  height: 70px;
  /* border: 2px solid black; */
  line-height: 70px;
  font-size: 30px;
  color: white;
  /* background-image: linear-gradient(to top, #264463, #243b52, #223241, #212931, #1e2022); */
  background-color: black;
}
#ietehead
{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
#ietehead:hover
{
  color: rgb(115, 166, 217);
  cursor: pointer;
}
#starter
{
  padding-left:20px;
  padding-right:20px;
}
#abtheading
{
  padding-left:20px;
}
.videocontainer
{
  height: 150px;
}
#myVideo
{
  position: absolute;
  width: 100%;
    height: 600px;
    object-fit: cover;
    z-index: -100;
}
.sidebar{
  position: fixed;
  width: 240px;
  left: -240px;
  height: 100%;
  background: #1e1e1e;
  transition: all .5s ease;
  z-index: 2;
}
.sidebar header{
  font-size: 28px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #1b1b1b;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}
#btn,#cancel
{
  position: fixed;
  z-index: 2;
}
.sidebar a{
  display: block;
  height: 65px;
  width: 100%;
  color: white;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  /* border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  border-left: 5px solid transparent; */
  font-family: 'Open Sans', sans-serif;
  transition: all .5s ease;
}
a.active,a:hover{
  border-left: 5px solid #1e317e;
  color: rgb(49, 164, 193);
}
.sidebar a i{
  font-size: 23px;
  margin-right: 16px;
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}
#check{
  display: none;
  position: fixed;
}
label #btn,label #cancel{
  position: fixed;
  cursor: pointer;
  color: white;
  /* border-radius: 5px; */
  /* border: 1px solid #262626; */
  margin: 15px 30px;
  font-size: 29px;
  /* background: #262626; */
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all .5s ease;
}
#btn:hover
{
  transform: scale(1.1);
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}
@media(max-width : 860px){
  .sidebar{
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
  }
  header,#btn,#cancel{
    display: none;
  }
  span{
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  }
  .sidebar a{
    height: 60px;
  }
  .sidebar a i{
    margin-left: -10px;
  }
  a:hover {
    width: 200px;
    background: inherit;
  }
  .sidebar a:hover span{
    opacity: 1;
    visibility: visible;
  }
}

/*----------------------------------------------------------------------*/

#aboutus
{
  margin-top: 450px;
  height: 950px;
  background-image: linear-gradient(to bottom, #191a1b, #182027, #162534, #132a41, #102f4f);
  color: white;
  z-index: 1;
}



/*-------------------------------------------------------------------------*/



#ourteam
{
  /* border: 2px solid black; */
  height: 650px;
  width:100%;
  background-color: rgb(16, 16, 53);
  color: black;
  padding: 20px;
  padding-left:30px;
  padding-right:30px;
  z-index: 1;
}

#teamheading
{
  text-align: left;
  color: rgb(115, 166, 217);
  margin-left: 0px;
}

/*----------------------------------------------------------------------*/

#projects
{
  height: 500px;
  background-color: black;
  color: white;
  padding:20px;
  /* padding-left:200px; */
  /* padding-right:200px; */
  z-index: 1;
}
.header
{
  text-align: left;
  margin-left: 0px;
}

/*---------------------------------------------------------------------*/

#contact
{
  display: block;
  height: 270px;
  background-color: white;
  color: black;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right bottom, #42064d, #33114a, #261544, #1b173c, #131733);
  background-image: url("https://media.istockphoto.com/vectors/vector-black-geometric-background-design-horizontal-geometrical-in-vector-id1136322848?k=20&m=1136322848&s=612x612&w=0&h=vqGqmIHLdEiNs4NNImPVQkBX9lHkynLm4bP5UI9KWC0=");
  background-image: url('http://codex-themes.com/scalia/wp-content/uploads/2014/12/footer-background-011.jpg');
  background-position: center;
  opacity: 90%;
  
}
#contact a
{
  text-decoration: none;
  color: white;
}
@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  /* font-family: 'Bebas Neue', sans-serif; */
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #03a1ac;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'IETE';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #02828b 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}
.button-49:hover
{
  transform: scale(1.1);
  background-color: rgb(255,1,60);
}
.button-49
{
  margin-top: 30px;
  /* margin-left: 1000px; */
  font-family: 'Source Code Pro', monospace;
}
#handles
{
  /* margin-top: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* margin: auto; */
  float: left;
  margin-top: 10px;
  width: 150px;
  /* border: 2px solid white; */
}
#handles a img
{
  height: 50px;
  width: 50px;
  text-decoration: none;
}
#handles a
{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
#handles a img:hover
{
  transform: scale(1.2);
}
#handles a:hover
{
  text-decoration: none;
  /* color: white; */
}
#buttoncontainer
{
  display: flex;
  margin-top: 40px;
}