@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Permanent+Marker&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: tahoma;
  background-color: black;
  background-size: cover;
  background-position: center;
}

.flickity-page-dots {
  margin-top: 50px;
}
.testimonial {
  background-color: white;
  text-align: center;
  padding: 30px 30px 50px;
  margin: 100px 15px 160px;
  position: relative;
  width: 290px;
  height: 90%;
}

.testimonial::before,
.testimonial::after {
  content: "";
  border-top: 40px solid white;
  border-right: 125px solid transparent;
  position: absolute;
  bottom: -40px;
  left: 0;
}

.testimonial::after {
  border-right: none;
  border-left: 125px solid transparent;
  left: auto;
  right: 0;
}

.testimonial .icon {
  display: inline-block;
  font-size: 80px;
  color: #016d9b;
  margin-bottom: 20px;
  opacity: 0.6;
}

.testimonial .description {
  font-size: 14px;
  color: #777;
  text-align: justify;
  margin-bottom: 30px;
  opacity: 0.9;
}

.testimonial .testimonial-content {
  width: 100%;
  left: 0;
  position: absolute;
}

.testimonial .pic {
  margin-top: -20px;
  display: inline-block;
  border: 4px solid white;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  box-shadow: 0 0 4px 4px #016d9b;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.testimonial .pic img {
  width: 100%;
  height: 100%;
  /* margin-bottom: 1000px; */
  margin-bottom: 20px;
}

.testimonial .name {
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
  margin: 10px 0 5px 0;
}

.testimonial .title {
  display: block;
  font-size: 14px;
  color: #ffd9b8;
  margin-top: -8px;
}

.carousel-cell::before {
  display: block;
  content: "";
}

/* this img is not for the team slider */
img {
  width: 60%;
  height: 200px;
  padding-top: 15px;
  display: block;
  margin-left: 50px;
  margin-right: 50px;
  margin: auto;
  /* object-fit: cover; */
  /* position: center center; */
}

.container {
  margin-top: -80px;
  /* width: 100%; */
  display: block;
  /* position: relative; */
  /* justify-content: center; */
  /* align-items: center; */
}

#teamslider {
  width: 80%;
  height: auto;
  margin-left: 7%;
  margin-right: 5%;
  /* display: block; */
  /* margin-left: -250px; */
  /* margin: auto; */

  /* position: center; */
}
#teamheading
{
  font-family: 'Permanent Marker', cursive;
}